<section id="Descripcion" >       
            <div class="image">
                <img src="https://collectoys.es/11134-large_default/figuras-funko-pop-vinyl-dota-2.jpg">
            </div>          
            <div>
                <h2>A Cerca de Nosotros</h2>
                <h1>DOTA2 POP</h1>
                <p>
                El punto de este tipo de negocio es darle al cliente un solo lugar donde pueda adquirir toda las figuras POP de sus heroes favoritos. 
                Por ello es que el inventario planea cubrir todos los heroes disponibles dentro del juego DOTA2.
                </p>
                <button>Más Información</button>          
            </div>
    </section>