<section id="Información">
        <div>
            <h2>➤ Dirección</h2>            
            <p><a style="text-decoration:none" href="https://www.google.com.ec/maps/place/Latacunga/@-0.9315345,-78.6146048,15z/data=!3m1!4b1!4m5!3m4!1s0x91d461069d795bd1:0xc0a05fcabeea8fbb!8m2!3d-0.931556!4d-78.60585?hl=es" target="_blank">✈ Latacunga / Cotopaxi-Latacunga</a></p>
            <h2>✉ Email</h2>
            <p><a style="text-decoration:none" href="mailto:cfllano1@espe.edu.ec" target="_blank">cfllano1@espe.edu.ec</a></p>
            <h2>✆ Telefono</h2>
            <p><a style="text-decoration:none" href="tel:+5930999955952">+5930999955952</a></p>          
        </div>
    </section>