<header class="header">
        <div class="banner">
            <h2>Aqui encontraras todos tus heroes en figuras</h2>
            <h1>DOTA2 POP</h1>
            <button>EXPLORAR</button>
        </div>
</header>